* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #fff 50%, #6b6b6b);
}

/* Navegación */
.nav {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: #ffffff;
    height: 4rem;
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list>a {
    display: flex;
    align-items: center;
}

.nav-list>a>img {
    height: 4rem;
}

.nav-item {
    list-style: none;
    border-bottom: 1px solid #6b6b6b;
    display: flex;
    justify-content: center;
}

.nav-item>a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-item>a:hover {
    color: grey;
}